.iconStyle {
  display: inline-block;
  text-align: center;
  margin-left: 160px;
  font-size: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3db39e;
}

.notifStyle {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.modalTitle {
  font-size: 20px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.deleteButton {
  background-color: #fbcc38;
  border: none;
  margin: 0 8px;
}
