.headerStyle {
  border: none;
}

.footerStyle {
  border: none;
}

.buttonStyle {
  padding: 8px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #f4cf5d;
  border-radius: 10px;
  transition: 0.3s;
}

.buttonStyle:hover {
  background-color: orange;
}
