.homeContainer {
  box-sizing: border-box;
}

.homeDashboard {
  /* width: 100%; */
}

.homeSidebar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  /* display: none; */
  background: #fff;
  z-index: 10;
  position: sticky;
  top: 0;
}

.homeProfileImg {
  text-align: center;
  width: 100%;
  margin-top: 45px;
  padding-bottom: 20px;
}

.homeUsername {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 35px;
}

.homeItems {
  /* padding: 10px 0; */
  font-size: 20px;
}

.homeItemsName {
  color: black;
  transition: 0.6s;
}

.homeItemsName:hover {
  transform: translateX(20px);
  color: grey;
}

.homeItemsLogout {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 50px;
  background-color: #000;
  list-style: none;
  transition: 0.3s;
}

.homeItemsLogout:hover {
  color: #ccc;
  background-color: rgb(46, 46, 46);
}

/* ======== CONTENT STYLES ========= */

.homeBody {
  padding: 0;
  box-sizing: border-box;
}

.navbarArea {
  padding: 0;
}

.homeTopnav {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  width: 100% !important;
  box-sizing: border-box;
  z-index: 9;
}

.homeDropdownCategories,
.homeDropdownTime {
  color: black !important;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.homeDropdownCategories {
  width: 10rem;
}

.homeDropdownTime {
  width: 7rem;
}

.homeDropdownBtn {
  display: flex;
  height: 2rem;
  margin: auto;
  align-items: center;
  text-align: center;
}

.homeSearch {
  display: flex;
  justify-content: center;
}

/* .homeSearchButton {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 50px;
  height: 38px;
  background-color: transparent;
  color: #ccc;
}

.homeSearchButton:hover,
.homeSearchButton:link,
.homeSearchButton:focus {
  border: 1px solid #ccc;
  border-right: none;
  background-color: transparent;
  color: #ccc;
} */

.homeSearchInput {
  border-radius: 50px;
  text-align: center;
  justify-content: center;
}

.homeBrand span {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.homeBrand span:hover {
  text-decoration: none;
}

.homeContent {
  padding: 0 20px;
}

/* SLIDER STYLES */

.homeSlider {
  margin: 50px 0 70px 0;
}

.sliderArea {
  padding: 0 20px;
  position: relative;
}

.homeSliderImage {
  width: 100% !important;
  background: center;
  height: 200px;
  border-radius: 50px;
}

.sliderHeadings {
  position: absolute;
  text-align: center;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 85%;
  padding: 10px 10px;
  border-radius: 30px;
  bottom: 0%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -20%);
}

.sliderHeadings h3 {
  font-size: 30px;
}

.sliderHeadings h5 {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

/* CARD STYLES */
.cardRow {
  display: flex;
  justify-content: space-evenly;
}

.homeCards {
  width: 100%;
  margin: 20px 0;
}

.cardContainer {
  /* font-size: 90px; */
  /* display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important; */
}

.cardContent {
  /* flex: 0 1 24% !important; */
  text-align: center;
  border-radius: 15px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.cardContent:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 2px 10px 25px 10px rgba(0, 0, 0, 0.25);
}

.cardImage {
  width: 100%;
  height: 180px;
  margin-bottom: 0 !important;
}

.cardBody {
  height: 200px;
}

.cardLink {
  text-decoration: none !important;
}

.cardTitle {
  margin-top: 0 !important;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.cardText {
  text-align: left;
  font-size: 15px;
  color: #424242;
}

/*  HISTORY STYLES */
.historyStatus {
  color: rgb(0, 177, 0);
}
